#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.caixablog{
  border: 5px solid #000000;
  border-radius: 5px;
  padding: 16px;
  margin-top: 20px;
  background-color: #fbfbfb;
  
}
.texto {
  margin: 10px 0;
  line-height: 1.5;
}
.indentificaçao{
  display: flex;
  flex-direction: row; 
  align-items: center; 
  padding-left: 20px;
  margin: 20px;


}
.circulo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: aqua;


}
.nomeb{
  color: #fbfbfb;

  
}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
